apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: yolo-app
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: docker.io/vivfifie/yolo:v1.0.0
          ports:
            - containerPort: 5000
          env:
            - name: MONGODB_URI
              value: "mongodb://mongo.yolo-app.svc.cluster.local:27017/yolomy"
            - name: PORT
              value: "5000"

