apiVersion: v1
kind: Service
metadata:
  name: backend
  namespace: yolo-app
  labels:
    app: backend
spec:
  type: LoadBalancer
  selector:
    app: backend
  ports:
  - port: 5000
    protocol: TCP
    targetPort: 5000
