apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: yolo-app
  labels:
    app: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
  - port: 80
    targetPort: 3000
    nodePort: 30008
